#new-tweet {
  display: flex;
  flex-direction: column;
}

footer {
  padding-top: .5em;
  display:flex;
  justify-content: space-between;
  font-family: "Bungee", "sans-serif";
}

.tweet-button {
  color: #FFFFFF;
  background-color: #4056A1;
}

#tweet-text {
  margin-top: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f4f1ec;
  border-bottom-width: 3px;
  border-color: black;
  outline: none;
  height: 60px;
}

.tweet-validation-error {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  border-style: solid;
  padding: 4px;
  display: flex;
  justify-content: space-around;
}

/* This prevents the hover color change defined on all i elements in the tweet.css file. */
.tweet-validation-error i:hover {
  color: red;
}