article {
  border: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: .5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

article:hover {
  box-shadow: 10px 10px 15px grey;
}

article.tweet header {
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f4f1ec;
  background-image: none;
  padding: .5em;
}

.user-handle {
  color: grey;
}

article.tweet p {
  border-color: black;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 1em;
  padding-left: 1em;
  margin-top: 2em;
  font-size: 30px;
}

article.tweet footer{
  font-size: 16px;
  font-family: 'Source Sans Pro', 'sans-serif';
}

i:hover {
  color: goldenrod;
}